/* Með CSS stjórnarðu ´tliti síðunnar, eins og litum, leturgerð, og staðsetningu
innihledsins. En sjálft innihald síðunnar er í HTML kóðanum.
Til þess að læra að gera eitthvað, prófaðu að leita á google af því sem þú vilt vita, til dæmis:
"how to change link color." */

body {
  background: linear-gradient(to bottom, #ff99b3 0%, #ffcc99 100%);
  font:  bold 15px Georgia, serif;
  color: #ffffff;
}
h1 {
  border-style: dotted dashed;
  font: italic bold 40px Georgia, serif;
  color:  Gold;


}


li {
    width: 300px;
    border: 5px solid Gold
;
    padding: 25px;
    margin: 25px;
}
a:hover{
  color: #99ff33
}
